# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg
wheels/

# IDE specific files
.vscode/
.idea/

# Operating System specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Sensitive information
.env